@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100
  }
}



*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}

.truncate-lines-7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.format h1{
  color: #ffffff;
  border-bottom: 2px solid  #1f2937 ;
  padding-bottom: 10px;
}

.format h2,.format h3,.format h4{
  color: #fff;
  border-bottom: 2px solid  #1f2937 ;
  padding-bottom: 10px;
}
.format p,.format li{
  color: #fff;
}
.format a{
  color: #478be6;
  text-decoration: underline;
  font-weight: 600;
  transition: 300ms;
}
.format a:hover{
  color: #10b981;
  text-decoration: none;
  transition: 300ms;
}

.format img{
  width: 100%;
}

@media screen and (max-width: 500px) {
  .format h1{
    font-size: 2rem;
  }
}
