@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100
  }
}



*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}

.truncate-lines-7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}